{{ define "main" }}
<main>
	<article>
		<h1>{{ .Title }}</h1>
		<div>
			<b>TelemetryJet</b> is a powerful platform for organizing and analyzing data from hardware systems.
			TelemetryJet provides a set of tools for data collection, analysis, and sharing, allowing your team to focus on utilizing your data to reach your objectives.
			<ul class="bp3-list">
				<li>Combine multiple sources into a consistent, always-available database.
				</li>
				<li>Build live web-based dashboards and visualizations, accessible from anywhere.
				</li>
				<li>
					Collaborate and share, directly from your data.
				</li>
			</ul>
			Students, researchers, and engineering teams use TelemetryJet to analyze data as it streams in from hardware systems, and to build a central long-term knowledge base
			from their data. TelemetryJet empowers users to quickly answer questions about their data and make informed decisions.
		</div>
	</article>
	<article>
		<h2>Products</h2>
		The TelemetryJet platform contains a number of modular systems. These tools can be used together,
		creating a powerful stack for data collection, analysis, and sharing. The tools can also be used independently from each other.
		Get started by jumping into any of the documentation sections:
		<ul class="bp3-list">
			<li><a href="/server/">TelemetryJet Server</a> - A powerful web-based platform for organizing and analyzing your hardware data.
			</li>
			<li><a href="/cli/">TelemetryJet CLI</a> - Monitor and control embedded hardware from your terminal, and stream live telemetry to the TelemetryJet Server.
			</li>
			<li>
				<a href="/arduino_sdk/">TelemetryJet Arduino SDK</a> - A lightweight library for communicating with microcontrollers using MessagePack. Designed for connecting small projects to TelemetryJet.
			</li>
		</ul>
	</article>
</main>

{{ end }}