<div id="headerAlert" class="bp3-dark">
    <noscript>
        <section class="headerNoJsWarning">
            <span class="bp3-icon bp3-icon-warning-sign"></span>&nbsp;
            JavaScript is required to navigate on the mobile site. Please use a larger screen, or enable JavaScript.
        </section>
    </noscript>
    <section>
        <span class="bp3-icon bp3-icon-warning-sign"></span>&nbsp;
        TelemetryJet is in early beta. Need help getting started, or found a bug? <a href="https://github.com/telemetryjet/telemetryjet-community/issues/new">Open an Issue</a> on our GitHub repository.
    </section>
</div>