<div id="headerSecondary">
    {{ $currentPage := . }}
    {{ $menu := .Site.Menus.guides }}
    {{ $menuName := "guides" }}
    {{ if eq $currentPage.Section "guides" }}
        {{ $menu = .Site.Menus.guides}}
        {{ $menuName = "guides" }}
    {{end}}
    {{ if eq $currentPage.Section "api" }}
        {{ $menu = .Site.Menus.api}}
        {{ $menuName = "api" }}
    {{end}}
    <section class="noJsHidden">
        <div class="mobileHeaderFlexContainer">
            <div class="bp3-select bp3-minimal mobileSidebarNavDropdown">
                <select onchange="window.location.replace(this.options[this.selectedIndex].value)">
                    <option value="/">Go to section...</option>
                    {{ range .Site.Menus.root }}
                        <option value="{{ .URL }}" {{ if eq .Page.Section $currentPage.Section }}selected{{end}}>{{.Title}}</option>
                    {{ end }}
                </select>
            </div>
            <div class="secondaryHeaderSectionDivider"></div>
            <div class="bp3-select bp3-minimal mobileSidebarNavDropdown">
                <select onchange="window.location.replace(this.options[this.selectedIndex].value)">
                    <option value="/">Go to page...</option>
                    {{ range $menu }}
                        {{ if .HasChildren }}
                        <optgroup label="{{ .Title }}">
                            {{ range .Children }}
                                <option value="{{ .URL }}" {{ if eq .URL $currentPage.URL }}selected{{end}}>{{ .Title }}</option>
                                {{if  .HasChildren }}
                                    {{ range .Children }}
                                        <option value="{{ .URL }}" {{ if eq .URL $currentPage.URL }}selected{{end}}>&nbsp;&nbsp;&nbsp;{{ .Title }}</option>
                                    {{ end }}
                                {{ end }}
                            {{ end }}
                        </optgroup>
                        {{ end }}
                    {{ end }}
                </select>
            </div>
        </div>
    </section>
    <noscript>
        <section id="headerSecondaryNoscriptPath">
            {{ if eq $menuName "guides" }}
            <a href="/guides/">Guides</a>
            {{ end }}
            {{ if eq $menuName "api" }}
            <a href="/api/">API Reference</a>
            {{ end }}
            &nbsp;<span class="bp3-icon bp3-icon-chevron-right"></span>&nbsp;
            <a href="{{ .URL }}">{{ $currentPage.Title }}</a>
        </section>
    </noscript>
</div>