<div id="headerAlert">
    <noscript>
        <section class="headerNoJsWarning">
            <span class="bp3-icon bp3-icon-warning-sign"></span>&nbsp;
            JavaScript is required to navigate on the mobile site. Please use a larger screen, or enable JavaScript.
        </section>
    </noscript>
    <section>
        <span class="bp3-icon bp3-icon-warning-sign"></span>&nbsp;
        TelemetryJet is not yet publically available. all information on this site is subject to change.
    </section>
</div>