<div id="header" class="bp3-dark">
    <section>
        <div id="headerNavBar" class="bp3-navbar">
            <div id="headerMainLogo" class="bp3-navbar-group bp3-align-left">
                <a class="bp3-button bp3-minimal" href="/">
                    <div id="navbarLogo" class="bp3-navbar-heading">TelemetryJet<span id="navbarLogoIcon"
                        class="bp3-icon bp3-icon-standard bp3-icon-airplane"></span>
                    </div>
                    <a class="bp3-button bp3-minimal tabletButton" href="/server/">Server</a>
                    <a class="bp3-button bp3-minimal tabletButton" href="/cli/">CLI</a>
                    <a class="bp3-button bp3-minimal tabletButton" href="/arduino_sdk/">Arduino SDK</a>
                </a>
            </div>
            <div class="bp3-navbar-group bp3-align-right">
                <a id="backToHomeButton" class="bp3-button bp3-minimal desktopButton" href="{{ .Site.Params.siteUrl }}"><span class="bp3-icon bp3-icon-arrow-left"></span>Home</a>
                <span class="bp3-navbar-divider desktopButton"></span>
                <a class="bp3-button bp3-minimal desktopButton" style="margin-right: 5px;" href="{{ .Site.Params.cloudUrl }}">Login</a>
                <a class="bp3-button bp3-intent-primary desktopButton" href="{{ .Site.Params.cloudUrl }}/account/register">Sign Up</a>
            </div>
        </div>
    </section>
</div>