<div id="contentLeftSidebar">
    <div class="stickyTableOfContents">
		{{ $currentPage := . }}
		{{ $menu := .Site.Menus.guides }}
		{{ $menuName := "guides" }}
		{{ if eq $currentPage.Section "guides" }}
			{{ $menu = .Site.Menus.guides}}
			{{ $menuName = "guides" }}
		{{end}}
		{{ if eq $currentPage.Section "api" }}
			{{ $menu = .Site.Menus.api}}
			{{ $menuName = "api" }}
		{{end}}

		{{ range $menu }}
			{{ if .HasChildren }}
				<div class="sidebarMenuSection">{{ .Pre }}{{ .Title }}</div>
				{{ range .Children }}
					<a href="{{ .URL }}" class="sidebarItemHref">
						<div
							class="sidebarMenuItem {{if ($currentPage.IsMenuCurrent $menuName .)}}sidebarMenuItemSelected{{end}}">
							<div class="buttonText">{{ .Title }}
								{{if  .HasChildren }}
								{{if or ($currentPage.IsMenuCurrent $menuName .) ($currentPage.HasMenuCurrent $menuName .)}}
								<span class="bp3-icon bp3-icon-chevron-down"></span>
								{{ else }}
								<span class="bp3-icon bp3-icon-chevron-right"></span>
								{{ end }}
								{{ end }}
							</div>
						</div>
					</a>
					{{if or ($currentPage.IsMenuCurrent $menuName .) ($currentPage.HasMenuCurrent $menuName .)}}
					{{if  .HasChildren }}
						<div class="sidebarMenuChildrenExpandable">
							{{ range .Children }}
								<a href="{{ .URL }}" class="sidebarItemHref">
									<div
										class="sidebarMenuItem {{if ($currentPage.IsMenuCurrent $menuName .)}}sidebarMenuItemSelected{{end}}">
										<div class="buttonText">{{ .Title }}</div>
									</div>
								</a>
							{{ end }}
						</div>
					{{ end }}
					{{ end }}
				{{ end }}
				<br/>
			{{ end }}
		{{ end }}
	</div>
</div>