<div id="sidebarContainer">
	<div id="sidebarTitleWrapper" class="titleContainer titleContainerSelected titleContainerExpanded">
		<span id="sidebarTitleSpan">
			TJET DOCS
		</span>
		<span class="bp3-icon-standard bp3-icon-airplane"></span>
	</div>
	<!--
	<div class="buttonContainer buttonContainerExpanded buttonContainerLarge buttonContainerLargeExpanded">
		<div class="buttonText">Test</div>
	</div>
	<div class="buttonContainer buttonContainerExpanded buttonContainerSmall buttonContainerSmallExpanded">
		<div class="buttonText">Test</div>
	</div>-->
	{{ $currentPage := . }}
	{{ range .Site.Menus.main }}
	<a href="{{ .URL }}" class="sidebarButtonLink">
		<div class="buttonContainer buttonContainerExpanded buttonContainerLarge buttonContainerLargeExpanded">
			<div class="buttonText">{{ .Name }}</div>
		</div>
	</a>
	{{ end }}

</div>