<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0,user-scalable=0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<title>{{ .Title }} | TelemetryJet Docs</title>

	{{ with .Site.Params.description }}
	<meta name="description" content="{{ . }}">
	{{ end }}

	{{ with .Site.Params.author }}
	<meta name="author" content="{{ . }}">
	{{ end }}

	<!-- Site icon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
	<link rel="manifest" href="/img/site.webmanifest">
	
	<!-- Style dependencies -->
	<link href="/unpkg/css/normalize.css" rel="stylesheet" />

	<!-- Blueprint stylesheets -->
	<link href="/unpkg/blueprintjs/blueprint-icons.css" rel="stylesheet" />
	<link href="/unpkg/blueprintjs/blueprint.css" rel="stylesheet" />

	<link rel="stylesheet" href="/css/fonts.css">
	<link rel="stylesheet" href="/css/style_v2.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/footer.css">
	<link rel="stylesheet" href="/css/sidebar.css">
</head>

<body class="bp3-light">
	<div id="rootFlexContent">
		{{ partial "headerAlert.html" . }}
		{{ partial "headerPrimary.html" . }}
		{{ partial "headerSecondary.html" . }}
		<div id="contentContainer">
			<section>
				<div id="content">
					{{ partial "leftSidebar.html" . }}
					<div id="contentCenter">
						{{ block "main" . }}{{ end }}
						<div id="suggestEditButtonMobile" class="suggestEditButton">
							<hr />
							<a href="https://github.com/telemetryjet/tjet-documentation/issues/new">Suggest Edits&nbsp;&nbsp;<span class="bp3-icon bp3-icon-annotation"></span></a>
						</div>
					</div>
					{{ partial "rightSidebar.html" . }}
				</div>
			</section>
		</div>
		{{ partial "footer.html" . }}
	</div>
	<script src="/js/jquery-3.5.1.js"></script>
	<script src="/js/enhancements.js"></script>
	{{ if .Site.Params.analyticsId }}
	{{ with .Site.Params.analyticsId }}<script async defer data-website-id="{{ . }}" src="https://umami.telemetryjet.com/umami.js"></script>{{end}}
	{{ end }}
</body>

</html>