<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>{{ .Title }}</title>

	{{ with .Site.Params.description }}
	<meta name="description" content="{{ . }}">
	{{ end }}

	{{ with .Site.Params.author }}
	<meta name="author" content="{{ . }}">
	{{ end }}

	<!-- Style dependencies -->
	<link href="/unpkg/css/normalize.css" rel="stylesheet" />

	<!-- Blueprint stylesheets -->
	<link href="/unpkg/blueprintjs/blueprint-icons.css" rel="stylesheet" />
	<link href="/unpkg/blueprintjs/blueprint.css" rel="stylesheet" />

	<!-- Core site stylesheets -->
	<link rel="stylesheet" href="/css/fonts.css">
	<link rel="stylesheet" href="/css/scrollbars.css">
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<div id="root" class="dark-scrollbar">
		<div id="rootFlexContainer">
			{{ partial "sidebar.html" . }}
			<div id="contentContainer">
				{{ partial "header" . }}
				<div id="flexiblePageTextContent" className="dark-scrollbar">
					<div class="bp3-card bp3-elevation-two flexiblePageCard flexiblePagePadding dark-scrollbar">
						{{ block "main" . }}{{ end }}
					</div>
					{{ partial "footer" . }}
				</div>
			</div>
		</div>
	</div>
</body>

</html>