
#contentLeftSidebar {
    flex: 0 0 auto;
    min-width: 150px;
}

#contentRightSidebar {
    flex: 0 0 auto;
    min-width: 150px;
    display: none;
}

.stickyTableOfContents {
    /*border: 1px solid #A7B6C2;*/
    position: sticky;
    top: 20px;
    margin-top: 0px;
    padding: 8px;
    border-radius: 3px;
    overflow: auto;
}

/* Large Screen */
@media screen and (min-width: 1100px) {
    #contentRightSidebar {
        display: block;
    }
}

.stickyTableOfContentsHeader {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    color: #394B59;
    margin-bottom: 8px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}
.stickyTableOfContentsHeader span {
    margin-right: 3px;
}

.stickyTableOfContents a {
    color: #394B59;

}

.stickyTableOfContents ul {
    list-style: none;
    margin: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}